<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>youTang</title>
    <link rel="shortcut icon" href="./favicon.png.webp" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="stylesheet" href="../../static/css/common.css" type="text/css" />
    <script src="../../static/js/jquery.min.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./option.js"></script>
    <script src="./index.js"></script>
  </head>
  <body></body>
</html>
