body,
html {
  width: 100%;
  height: 100%;
}
.template-edit {
  height: 100%;
}
/* 顶部导航栏 */
.template-edit .topnav {
  height: 65px;
  border-bottom: solid 1px #edeef1;
  width: 100%;
}
.template-edit .topinbox {
  max-width: 97%;
  height: 100%;
  margin: 0 auto;
}
/* logo */
.template-edit .topnav .leftnav {
  width: 140px;
  height: 50px;
  background: url('../../static/images/logo-zh.svg') center center no-repeat;
  background-size: 115px auto;
  min-height: 45px;
}
/* 中间文字 */
.template-edit .topnav .mainContent {
  margin: 0 auto;
}
.template-edit .topnav .mainContent li {
  padding: 0 30px;
  color: #666;
  background: url('../../static/images/right.svg') center right/10px auto
    no-repeat;
  cursor: pointer;
}
.template-edit .topnav .mainContent li.active {
  background: url('../../static/images/right_active.svg') center right/10px auto
    no-repeat;
  color: #5b93e7;
}
.template-edit .topnav .mainContent li:hover {
  background: url('../../static/images/right_active.svg') center right/10px auto
    no-repeat;
  color: #5b93e7;
}
/* 右边用户信息 */
.template-edit .rightUser .user-show-icon {
  background: url('../../static/images/default-portrait.svg') center center/30px
    auto no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.template-edit .rightUser .outer-bigbox {
  padding-left: 15px;
  padding-bottom: 15px;
  background: none;
}
.template-edit .rightUser {
  position: relative;
}
/* 右边隐藏的用户信息样式 */
.user-sesson-hiddenbox {
  border-radius: 5px;
  width: 200px;
  background: #fff;
  border-radius: 5px;
  line-height: 30px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  text-align: left;
  position: absolute;
  right: -13px;
  top: 40px;
  display: none;
}
.user-sesson-hiddenbox .rel-box {
  position: relative;
}
.user-sesson-hiddenbox .top-icon {
  /* width: 14px;
  height: 10px; */
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
  top: -20px;
  position: absolute;
  left: 155.5px;
}
.user-sesson-hiddenbox .sesson-box {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 10px;
}
.user-sesson-hiddenbox .sesson-box .user-icon {
  background: url('../../static/images/default-portrait.svg') center center/30px
    auto no-repeat;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
}
.user-sesson-hiddenbox li {
  border-bottom: 1px solid #f5f5f5;
  padding: 5px;
  color: #478afb;
}
.user-sesson-hiddenbox li .icon .icon {
  color: #478afb;
  stroke: currentColor;
  fill: none;
  margin-right: 10px;
}
/* 主体内容 */
.content-box {
  background: #f7f8fa;
  padding: 20px;
  padding-left: 10px;
  padding-bottom: 0;
  height: calc(100% - 80px);
  width: 98%;
}
/* 左边信息栏 */
.content-box .left-sesson-box {
  background: #fff;
  border: solid 1px #edeef1;
  margin-right: 10px;
  box-shadow: 0 -5px 10px rgba(162, 162, 162, 0.12);
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
  width: 263px;
}
.content-box .left-sesson-box #video_title {
  background: url('../../static/images/support.svg') right center/16px auto
    no-repeat;
  cursor: pointer;
}
.content-box .left-sesson-box #video_title:hover {
  background: url('../../static/images/edit-hover.svg') right center/16px auto
    no-repeat;
  color: #5b93e7;
}

/* 影藏的输入框 */
.content-box .input-hidden {
  display: none;
}
.content-box .input-hidden .icon {
  width: 24px;
  color: #5b93e7;
  cursor: pointer;
  text-align: center;
}
.content-box .input-hidden input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.content-box .video-img {
  width: 100%;
  height: 128px;
  margin-top: 20px;
  background: url('../../static/images/video-img.jpg') center center/cover
    no-repeat;
}
.content-box .show-box {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}
.content-box .show-box p.icon {
  text-align: left;
  background: url('../../static/images/theme-name.svg') center center/cover
    no-repeat;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.content-box .show-box p.icon:hover {
  background: url('../../static/images/theme-name-active.svg') center
    center/cover no-repeat;
}
.content-box .video-other-box li p {
  font-size: 16px;
  color: #333;
  line-height: 25px;
  background: url('../../static/images/picture.svg') left center/20px no-repeat;
  margin-top: 20px;
  padding-left: 26px;
  box-sizing: border-box;
}
.content-box .video-other-box li {
  height: 30px;
}

/* 下拉框样式 */
.select-outer-box {
  background: url('../../static/images/ration-select.svg') left center/25px auto
    no-repeat;
  padding-left: 40px;
  box-sizing: border-box;
  margin: 10px 0;
}
.select-outer-box .select-box {
  width: 100%;
  background: #f4f5f9;
  padding: 0 20px;
  min-width: 80px;
  border-radius: 5px;
  border: solid 1px #e8e8e7;
  text-align: left;
  height: 30px;
  box-sizing: border-box;
}
.select-hidden-box {
  height: 30px;
  position: relative;
  padding-bottom: 20px;
}
.select-box .bottom-icon .icon {
  stroke: currentColor;
  fill: none;
}
.select-hidden-box .hidden-box {
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 5px;
  line-height: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  text-align: left;
  display: none;
}
.select-hidden-box .hidden-box li {
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 15px;
}
.select-hidden-box .hidden-box li.active {
  color: #478afb;
  background: rgba(71, 138, 251, 0.1);
}
/* 按钮 */
.make-btn-click {
  /* background-image: linear-gradient(to right, #689cf9, #f9bbdd); */

  background-color: #799ef6;
  padding: 0 20px;
  border-radius: 20px;
  margin-top: 25px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  min-width: 180px;
  max-width: 200px;
  margin: 25px auto;
}
.make-btn-click:hover {
  background-image: none;
  background-color: #497bf3;
}
/* 右边信息栏 */
.right-make-box {
  /* -webkit-box-flex: 1; */
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  border: solid 1px #edeef1;
  margin-right: 10px;
  background: #fff;
  box-shadow: 0 -5px 10px rgba(162, 162, 162, 0.12);
  overflow: hidden;
  display: flex;
  /* align-items: flex-start; */
  justify-content: flex-start;
  flex-direction: column;
}
.right-make-box .top-blank-box {
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  border-bottom: solid 1px #edeef1;
}
.right-make-box .sub-content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-make-box .logo-top-box {
  width: 100%;
  height: 70px;
  border-bottom: solid 1px #edeef1;
}
.right-make-box .sub-content .sub-logo {
  padding-left: 85px;
  height: 70px;
  background: url('../../static/images/normal-music.svg') 20px center/50px auto
    no-repeat;
  line-height: 24px;
  padding-top: 2px;
  float: left;
  max-width: 60%;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.right-make-box .sub-content .sub-logo .top {
  color: #333;
  font-size: 16px;
  margin-top: 10px;
}
.right-make-box .sub-content .sub-logo .bottom {
  font-size: 14px;
  color: #999;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px;
  overflow: hidden;
}
.right-make-box .sub-content .right-button div {
  text-align: center;
  border: solid 1px #5b93e7;
  border-radius: 18px;
  min-width: 130px;
  color: #5b93e7;
  font-size: 14px;
  cursor: pointer;
  line-height: 34px;
  width: 130px;
  margin-right: 20px;
}
.right-make-box .sub-content .right-button div:hover {
  border-color: #fff;
  color: #fff;
  background-image: linear-gradient(to right, #689cf9, #f9bbdd);
}
/* 遮罩框 */
.drop-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}
.drop-box .rel-box {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
}
.drop-box .change-music {
  display: none;
  width: 850px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 580px;
  padding-top: 40px;
}
.drop-box .in-rel-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.drop-box .closeIcon {
  position: absolute;
  right: 20px;
  top: -33px;
  padding: 10px;
  cursor: pointer;
  font-weight: 700px;
  font-size: 20px;
}
.drop-box .change-music .title-box {
  text-align: center;
  margin-bottom: 20px;
}
.drop-box .change-music .title-box span:nth-child(1) {
  margin-right: 10px;
}
.drop-box .change-music .title-box span {
  position: relative;
  display: inline-block;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.drop-box .change-music .title-box span.active {
  background-image: linear-gradient(
    to right,
    #4889ff,
    #4889ff,
    #ff9ad1,
    #ff9ad1
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.drop-box .change-music .title-box span::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -7px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: -1;
  background: #e4ecfd;
  opacity: 0;
}
.drop-box .change-music .title-box span::after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: -5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: -1;
  background: #f6dbef;
  opacity: 0;
}
.drop-box .change-music .title-box span.active::before,
.drop-box .change-music .title-box span.active::after {
  opacity: 1;
}
.update-music .add-icon {
  display: inline-block;
  padding-top: 40px;
  color: #999;
  background: url('../../static/images/addmusic.svg') center top/34px auto
    no-repeat;
}
.update-music {
  float: left;
  width: 140px;
  height: 140px;
  background: #f6f6f6;
  position: relative;
  align-items: center;
  justify-content: center;
}
.update-music input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0;
  z-index: 0;
  cursor: pointer;
}
.drop-box .change-music .outer-music.show {
  display: block;
}
.drop-box .change-music .outer-music {
  padding: 0 40px;
  position: relative;
  height: calc(100% - 40px);
  display: none;
}

.drop-box .change-music .update-btn {
  border: none;
  display: inline-block;
  background-image: linear-gradient(to right, #689cf9, #f9bbdd);
  line-height: 40px;
  color: #fff;
  padding: 0 20px;
  min-width: 250px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
}
.music-box {
  width: 140px;
  background: #f9bbdd url('../../static/images/music-cover.svg') center center
    no-repeat;
  height: 140px;
  position: relative;
  border: solid 1px transparent;
  cursor: pointer;
}
.music-box .check-icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
}
.music-box .check-icon.active {
  background: #5b93e7 url('../../static/images/check.svg') center center/12px
    auto no-repeat;
  border-color: transparent;
}
.right-make-box .logo-footer-box {
  width: 100%;
  height: 75px;
  border-top: solid 1px #edeef1;
  box-align: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 -10px 30px rgba(102, 102, 102, 0.1);
}
.right-make-box .logo-center-box {
  flex: 1;
  width: 100%;
}
.right-make-box .logo-center-box .add-img .default-title {
  color: #999;
  margin-bottom: 10px;
}
.right-make-box .logo-center-box .add-img {
  padding: 15px 20px;
}
/* 拖拽或者点击上传图片 */
.logo-center-box .add-img .add-img-box {
  justify-content: flex-start;
}
.logo-center-box .add-img .add-img-box .update-outer {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 134px;
  height: 124px;
  border: solid 1px #eaeaea;
  position: relative;
  cursor: pointer;
  padding: 6px 7px;
  box-sizing: border-box;
}
.logo-center-box .add-img .add-img-box .update-outer .update-music {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* 鼠标的文字提示 */
.hover-tips .lanuage-icon {
  border-radius: 5px;
  background: #fff;
  z-index: 2000;
  padding: 5px 10px;
  /* display: none; */
  font-size: 15px;
  line-height: 22px;
  white-space: nowrap;
  max-width: 300px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}
.hover-tips {
  display: none;
  position: absolute;
  top: -46px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}
.hover-tips .tips-icon {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.hover-tips .icon-rel-box {
  position: relative;
}

.logo-center-box .add-img .add-img-box .tips-text {
  margin-left: 10px;
  cursor: pointer;
}
/* 音乐设置遮罩层 */
.drop-box .rel-box .setting-music {
  width: 780px;
  height: 270px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 36px;
  padding-bottom: 0;
  box-sizing: border-box;
}
.drop-box .rel-box .setting-music .box-title {
  font-size: 18px;
  color: #333;
  text-align: left;
  padding-bottom: 20px;
  font-weight: bold;
}
.setting-music .setting-rel-box {
  position: relative;
}
.setting-music .setting-rel-box audio {
  width: 100%;
  height: 20px;
  display: none;
}
/* 音乐控制条 */
.setting-music .control-music-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url('../../static/images/contorls.svg') left center/30px auto
    no-repeat;
}
.setting-music .control-music-btn:hover {
  background: url('../../static/images/play-active.svg') left center/30px auto
    no-repeat;
}
.setting-music .control-music-btn.play {
  background: url('../../static/images/stop-active.svg') left center/30px auto
    no-repeat;
}
.setting-music .control-bar .control-bar-process {
  background-image: linear-gradient(to right, #4889ff, #ff9ad1);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  height: 4px;
}
.control-btn.left-control {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(180, 180, 180, 0.46);
  position: absolute;
  background: #fff;
  top: -8px;
  cursor: pointer;
}
.control-music .left-control::before {
  background: #5b93e7;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  border-radius: 50%;
  height: 8px;
  margin: auto;
}
.control-music .control-btn span {
  position: absolute;
  left: -4px;
  right: 0;
  bottom: -30px;
  font-size: 12px;
  margin: auto;
  display: none;
}
.control-music .control-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(180, 180, 180, 0.46);
  position: absolute;
  background: #fff;
  top: -8px;
  cursor: pointer;
}
.control-music .crop-music-win .right-control::before {
  background: #eb82c7;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  border-radius: 50%;
  height: 8px;
  margin: auto;
}
.control-bar {
  height: 4px;
  position: relative;
  width: calc(100% - 100px);
  background: #efeef3;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.control-music .duration {
  margin-left: 16px;
}

.check .checkbox {
  cursor: pointer;
  margin-top: 10px;
  width: auto;
}
.check .checkbox-label {
  margin-left: 10px;
}
.check .checkbox-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid currentColor;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
}
.check .checkbox.active {
  color: #478afb;
}
.check .checkbox:hover {
  color: #478afb;
}
.checkbox.active .checkbox-icon {
  background-color: #478afb;
}
.check .checkbox-icon .icon {
  color: #fff;
}
.setting-rel-box .bottom-btn {
  background-image: linear-gradient(to right, #689cf9, #f9bbdd);
  padding: 0 20px;
  border-radius: 20px;
  margin-left: 20px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  color: #fff;
  min-width: 180px;
  cursor: pointer;
  margin-top: 60px;
}
.setting-rel-box .bottom-btn-outer {
  margin: 0 auto;
}
