<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>youTang</title>
    <link
      rel="shortcut icon"
      href="../../static/images/favicon.png.webp"
      type="image/x-icon"
    />
    <link rel="stylesheet" type="text/css" href="./template.css" />
    <link rel="stylesheet" href="../../static/css/common.css" type="text/css" />
    <script src="../../static/js/jquery.min.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="template-edit">
      <div class="topnav">
        <div class="topinbox flexbox between">
          <div class="leftnav"></div>
          <div class="mainContent flexbox" id="mincontent">
            <li>选择模板</li>
            <li class="active">编辑</li>
            <li>制作</li>
          </div>
          <div class="rightUser">
            <div class="outer-bigbox" id="outer_bigbox">
              <span class="user-show-icon" id="right_user_img"></span>
            </div>
            <div class="user-sesson-hiddenbox">
              <div class="rel-box">
                <div class="top-icon"></div>
                <div class="sesson-box flexbox  j-start">
                  <span class="user-icon"></span>
                  <span class="user-name">2085210147</span>
                </div>
                <li class="flexbox j-start">
                  <span class="icon">
                    <svg
                      class="icon icon-user"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      is="icon"
                      type="user"
                      viewBox="0 0 17.1 18"
                      width="17.1px"
                      height="18px"
                    >
                      <circle
                        style="stroke-width:2;stroke-linecap:round;stroke-linejoin:round;"
                        cx="8.7"
                        cy="6"
                        r="5"
                      ></circle>
                      <path
                        style="stroke-width:2;stroke-linecap:round;"
                        d="M1,17c0,0,0.8-5.5,5.4-6.4"
                      ></path>
                      <path
                        style="stroke-width:2;stroke-linecap:round;"
                        d="M13.4,12.1c0,0,2.3,1.1,2.7,4.9"
                      ></path>
                      <path
                        style="stroke-linecap:round;stroke-linejoin:round;"
                        d="M7.7,3.6c0,0-1.7,0.6-1.7,2.9"
                      ></path>
                    </svg>
                  </span>
                  <span>我的账户</span>
                </li>
                <li class="flexbox j-start">
                  <span class="icon">
                    <svg
                      class="icon icon-videos"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      is="icon"
                      viewBox="0 0 18 14"
                      width="18px"
                      height="14px"
                    >
                      <path
                        style="stroke-width:2;stroke-linecap:round;stroke-linejoin:round;"
                        d="M15,4.7l2-0.8v7.2L12,9v2c0,1.1-0.9,2-2,2H3c-1.1,0-2-0.9-2-2V3c0-1.1,0.9-2,2-2h7c1.1,0,2,0.9,2,2v2"
                      ></path>
                      <line
                        style="stroke-linecap:round;stroke-linejoin:round;"
                        x1="4.5"
                        y1="8.5"
                        x2="4.5"
                        y2="4.5"
                      ></line>
                    </svg>
                  </span>
                  <span>我的视频</span>
                </li>
                <li class="flexbox j-start">
                  <span class="icon">
                    <svg
                      class="icon icon-exit"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      is="icon"
                      type="exit"
                      viewBox="0 0 16 17"
                      width="16px"
                      height="17px"
                    >
                      <path
                        style="stroke-width:2;stroke-linecap:round;stroke-linejoin:round;"
                        d="M11,16H3c-1.1,0-2-0.9-2-1.9V2.9C1,1.9,1.9,1,3,1h8"
                      ></path>
                      <line
                        style="stroke-linecap:round;stroke-linejoin:round;"
                        x1="5.5"
                        y1="8.5"
                        x2="15.5"
                        y2="8.5"
                      ></line>
                      <line
                        style="stroke-linecap:round;stroke-linejoin:round;"
                        x1="12.5"
                        y1="5.5"
                        x2="15.5"
                        y2="8.5"
                      ></line>
                      <line
                        style="stroke-linecap:round;stroke-linejoin:round;"
                        x1="12.5"
                        y1="11.5"
                        x2="15.5"
                        y2="8.5"
                      ></line>
                    </svg>
                  </span>
                  <span>退出</span>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-box flexbox between">
        <div class="left-sesson-box">
          <div class="video-title-box">
            <p id="video_title">拥抱</p>
            <div class="input-hidden flexbox j-start">
              <input type="text" />
              <div class="ok">
                <svg
                  class="icon icon-checkbox"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  is="icon"
                  type="checkbox"
                  viewBox="0 0 18 18"
                  width="18px"
                  height="18px"
                >
                  <path
                    style="stroke:none; fill:currentColor"
                    d="M12.7,4.3C11,6.6,8.9,9.1,8.1,12c-0.9-1-1.9-2-2.9-2.8c-0.7-0.5-1.6,0.4-0.9,1c1.3,1,2.5,2.3,3.7,3.6c0.3,0.3,1,0.2,1.1-0.3C9.6,10.3,12,7.6,13.9,5C14.4,4.3,13.2,3.6,12.7,4.3"
                  ></path>
                </svg>
              </div>
              <div class="cancel" id="cancel">
                <svg
                  class="icon icon-close"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  is="icon"
                  type="close"
                  viewBox="0 0 10 10"
                  width="10px"
                  height="10px"
                >
                  <rect
                    x="4.5"
                    y="-1.5"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.0563 4.9852)"
                    style="fill:currentColor;stroke:none;"
                    width="1"
                    height="13"
                  ></rect>
                  <rect
                    x="-1.5"
                    y="4.5"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.0919 5)"
                    style="fill:currentColor;stroke:none;"
                    width="13"
                    height="1"
                  ></rect>
                </svg>
              </div>
            </div>
          </div>
          <div class="video-img"></div>
          <div class="show-box flexbox between">
            <p class="title">拥抱</p>
            <p class="icon"></p>
          </div>
          <div class="video-other-box">
            <li>
              <p>4-100</p>
            </li>
            <li>预估时长：00：00</li>
            <li class="select-outer-box">
              <div class="select-hidden-box" id="outer-hiddenbox">
                <!-- 触发按钮 -->
                <div class="select-box flexbox j-start">
                  <span id="select-content">16:9（横屏）</span
                  ><span class="bottom-icon"
                    ><svg
                      class="icon icon-down"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      is="icon"
                      viewBox="0 0 12 12"
                      width="12px"
                      height="12px"
                    >
                      <polyline
                        style="stroke-linecap:round;"
                        points="1.5,3.3 6,8.3 10.5,3.3"
                      ></polyline>
                    </svg>
                  </span>
                </div>
                <!-- 隐藏的内容 -->
                <div class="hidden-box" id="select-hidden-box">
                  <ul>
                    <li class="active">16:9（横屏）</li>
                    <li>1：1（正方形）</li>
                    <li>9:16（竖屏）</li>
                  </ul>
                </div>
              </div>
            </li>
            <div class="make-btn-click"><p>制作高清视频（免费）</p></div>
          </div>
        </div>
        <div class="right-make-box">
          <div class="top-blank-box"></div>
          <div class="sub-content flexbox">
            <div class="logo-top-box flexbox">
              <div class="sub-logo">
                <div>
                  <p class="top">默认</p>
                  <p class="bottom">02:21</p>
                </div>
              </div>
              <div class="right-button flexbox j-end">
                <div class="button" id="change-music">更改音乐</div>
                <div class="button" id="music-setting-click">音乐设置</div>
              </div>
            </div>
            <div class="logo-center-box">
              <div class="add-img">
                <div class="default-title">
                  <p>已添加照片数：<span>0</span></p>
                </div>
                <div class="add-img-box flexbox">
                  <div class="update-outer" id="outer-addimg-box">
                    <div class="hover-tips" id="update-tips">
                      <div class="icon-rel-box">
                        <div class="lanuage-icon">添加素材</div>
                        <div class="tips-icon"></div>
                      </div>
                    </div>
                    <div class="update-music flexbox">
                      <span class="add-icon">上传</span>
                      <input type="file" id="upoload-file" />
                    </div>
                  </div>
                  <p class="tips-text" id="tips-text">拖拽或点击“+”上传图片</p>
                </div>
              </div>
            </div>
            <div class="logo-footer-box">
              <div class="make-btn-click"><p>制作高清视频（免费）</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 遮罩框 -->
    <div class="drop-box" id="drop-box-id">
      <div class="rel-box">
        <!-- 更改音乐弹窗 -->
        <div class="change-music">
          <div class="in-rel-box">
            <p class="closeIcon" id="closeIcon">×</p>
            <div class="title-box" id="drop-title-click">
              <span class="active" data-showid="0">我的音乐</span>
              <span data-showid="1">推荐</span>
            </div>
            <div class="outer-music show" id="my-music">
              <form
                enctype="multipart/form-data"
                action="http://localhost:8090/filesUpdate"
                method="post"
              >
                <div class="update-music flexbox">
                  <span class="add-icon">上传</span>
                  <input type="file" id="upoload-file" />
                </div>
                <input
                  type="submit"
                  value="上传"
                  id="upJQuery"
                  class="update-btn"
                />
              </form>
            </div>
            <!-- 遮罩层 推荐内容 -->
            <div class="outer-music hidden" id="recommend">
              <div class="music-box">
                <div class="check-icon active"></div>
              </div>
              <input
                type="button"
                value="上传"
                id="upJQuery"
                class="update-btn"
              />
            </div>
          </div>
        </div>

        <!-- 音乐设置弹窗 -->
        <div class="setting-music">
          <div class="setting-rel-box">
            <p class="closeIcon" id="closeIcon2">×</p>
            <p class="box-title">音乐截取（默认）</p>
            <div class="audio-box">
              <audio src="../../static/music.mp3" id="setting-music-id">
                您的浏览器不支持 audio 标签。
              </audio>
              <div class="control-music flexbox">
                <div class="control-music-btn"></div>
                <div class="control-bar">
                  <div class="control-bar-process" style="width: 100%"></div>
                  <div class="control-btn left-control" style="left: 0%;">
                    <span>00:00</span>
                  </div>
                  <div class="control-btn right-control" style="left: 100%;">
                    <span>141</span>
                  </div>
                </div>
                <div class="duration">
                  <span id="totalTime">00:00</span>
                </div>
              </div>
            </div>
            <div class="check">
              <div class="checkbox flexbox j-end" id="checkbox-click">
                <div class="checkbox-icon">
                  <svg
                    class="icon icon-checkbox"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    is="icon"
                    type="checkbox"
                    viewBox="0 0 18 18"
                    width="19px"
                    height="19px"
                  >
                    <path
                      style="stroke:none; fill:currentColor"
                      d="M12.7,4.3C11,6.6,8.9,9.1,8.1,12c-0.9-1-1.9-2-2.9-2.8c-0.7-0.5-1.6,0.4-0.9,1c1.3,1,2.5,2.3,3.7,3.6c0.3,0.3,1,0.2,1.1-0.3C9.6,10.3,12,7.6,13.9,5C14.4,4.3,13.2,3.6,12.7,4.3"
                    ></path>
                  </svg>
                </div>
                <div class="checkbox-label">
                  淡入淡出
                </div>
              </div>
            </div>
            <div class="bottom-btn-outer flexbox">
              <div class="bottom-btn">确定</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./template.js"></script>
</html>
