.nav .topnav {
  height: 45px;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  top: 0;
}
.nav .topnav .inbox {
  margin: 0 auto;
  width: 1200px;
}
.nav .topnav .inbox .leftnav {
  width: 40%;
}
.nav .topnav .inbox .leftnav img {
  display: block;
  width: 115px;
  height: 45px;
}
.nav .topnav .inbox .right-nav li {
  padding: 0 30px;
  border-right: 1px solid #ccc;
}
.topnav .inbox .right-nav li:nth-last-child(1) {
  border: none;
}
.nav .imgBack .absolute-book {
  color: #fff;
  height: 235px;
  background: url('../../static/images/all.jpg') center center no-repeat;
  width: 100%;
  margin-top: 10px;
}
.nav .imgBack .absolute-book div {
  flex-direction: column;
}
.nav .imgBack .absolute-book div h2 {
  font-size: 60px;
  line-height: 64px;
}
.nav .imgBack .absolute-book div p {
  font-size: 20px;
  margin-top: 20px;
}
.nav .nav-father {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.nav .nav-father .navtap ul li {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  padding: 0 15px;
  border-bottom: 2px solid transparent;
}
.nav .nav-father .navtap ul li.active {
  border-color: #52a7ff;
  color: #52a7ff;
}
.nav .nav-father .navtap ul li:hover {
  border-color: #52a7ff;
  color: #52a7ff;
}
.nav .choose {
  margin: 10px auto;
}
.nav .choose .title {
  height: 30px;
  display: flex;
  align-items: center;
  width: 25%;
}
.nav .choose li .lerftTitle {
  height: 100%;
  line-height: 30px;
  min-width: 50px;
}
.nav .choose li .rightBox {
  height: 100%;
  margin-left: 10px;
  box-sizing: border-box;
  line-height: 30px;
  position: relative;
  text-align: center;
  background: #f4f5f9;
  min-width: 80px;
  margin-left: 20px;
  border: solid 1px #e8e8e7;
}
.outerAllBox {
  background: none;
  padding-bottom: 20px;
}
.nav .choose li .rightBox .hideMenu {
  position: absolute;
  top: 35px;
  z-index: 100;
  left: -10px;
  padding: 5px;
  position: absolute;
  z-index: 1100;
  min-width: 120px;
  background: #fff;
  border-radius: 5px;
  line-height: 30px;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  text-align: left;
  display: none;
}
.nav .choose li .rightBox .hideMenu li a {
  display: block;
  width: 80%;
  text-align: left;
  color: #000;
  padding: 3px;
  padding-left: 20px;

  text-decoration: none;
}
.nav .choose li .rightBox .hideMenu li a:hover {
  color: #478afb;
}
.nav .choose li .rightBox .hideMenu li.active {
  background: rgba(71, 138, 251, 0.1);
}
.nav .choose li .rightBox .hideMenu li.active a {
  color: #478afb;
}
.nav .choose li .rightBox p {
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.nav .choose .leftUlbox {
  width: 60%;
  padding-left: 40px;
  box-sizing: border-box;
}
.nav .choose .rightUlbox {
  width: 20%;
}
.nav .choose .rightUlbox li {
  width: 150px;
}
/* 主体内容 */
.content-box ul li {
  width: 25%;
  cursor: pointer;
  margin-top: 10px;
}
.content-box ul {
  flex-wrap: wrap;
}
.content-box ul li .outer-box {
  width: 90%;
  position: relative;
}
.content-box ul li .outer-box .free.hidden {
  display: none;
}
.content-box ul li .outer-box .free {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  color: #fff;
  text-align: center;
  width: auto;
  height: 32px;
  padding: 0 20px;
  text-transform: uppercase;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  line-height: 32px;
  background: #ff72b4;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-filter: drop-shadow(0 2px 2px rgba(51, 51, 51, 0.35));
  -moz-filter: drop-shadow(0 2px 2px rgba(51, 51, 51, 0.35));
  -ms-filter: drop-shadow(0 2px 2px rgba(51, 51, 51, 0.35));
  filter: drop-shadow(0 2px 2px rgba(51, 51, 51, 0.35));
}
.content-box ul li .outer-box .free::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 43px;
  opacity: 0;
  background: url('../../static/images/leftfree.png.webp') center center
    no-repeat;
}
.content-box ul li .outer-box .free::after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 12px;
  height: 32px;
  background: url('../../static/images/rightfree.png') center center/100% auto
    no-repeat;
}
.content-box ul li .outer-box .hd-mark {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  padding: 2px 10px;
  border-radius: 15px;
  display: inline-block;
  background-color: #fff;
  color: #5b93e7;
}
.content-box .outer-box .show-box .img-box,
img {
  width: 100%;
}
.content-box .outer-box .show-box .img-box img {
  width: 100%;
  height: calc(100% - 50px);
}
.content-box .outer-box .show-box .img-box video {
  width: 100%;
  height: calc(100% - 50px);
  display: none;
}
.content-box .outer-box .show-box .title-box {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 50px;
  box-shadow: 0 2px 8px rgba(153, 153, 153, 0.3);
}
.content-box .outer-box .show-box .title-box.use {
  display: inline-block;
  background: linear-gradient(to right, #689cf9, #f9bbdd);
  line-height: 50px;
  color: #fff;
  min-width: 50%;
  font-size: 20px;
  display: none;
  text-align: center;
}
.footerBox {
  padding: 50px 0;
  width: 100%;
  margin-top: 20px;
  background: #2a2626;
}
.footerBox .width {
  width: 1200px;
}
.footerBox ul li {
  width: 25%;
  text-align: center;
  color: #fff;
}
.footerBox ul li p {
  font-size: 16px;
  line-height: 36px;
}
.footerBox ul li.checkUs {
  margin: 0 auto;
}
.footerBox ul li.checkUs .content {
  margin: 0 auto;
  text-align: left;
  width: 70%;
}
.footerBox ul li.checkUs span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}
.footerBox ul li.checkUs span:nth-child(2) {
  background: url('../../static/images/qqfriend.svg') center center no-repeat;
  background-size: 40px 40px;
}
.footerBox ul li.checkUs span:nth-child(3) {
  background: url('../../static/images/weibo.svg') center center no-repeat;
  background-size: 40px 40px;
}
.footerBox ul li.checkUs span:nth-child(4) {
  background: url('../../static/images/weixin.svg') center center no-repeat;
  background-size: 40px 40px;
}
.footerBox ul li .inputBoxClick {
  border-bottom: 1px solid #fff;
}
.footerBox ul li .inputBoxClick .topIcon {
  display: inline-block;
  background: url('../../static/images/top.svg') center center no-repeat;
  background-size: 20px 10px;
  width: 20px;
  height: 20px;
}
.footerBox ul li #droupTopbox .closeIcon {
  color: #000;
  position: absolute;
  top: 0px;
  right: 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}
.footerBox ul li .dropupBox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.footerBox ul li #dropUl {
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
  transform: translateY(180%);
  flex-wrap: wrap;
  max-width: 1205px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
}
.footerBox ul li #dropUl li {
  width: 25%;
  cursor: pointer;
  margin: 10px 0;
}
.footerBox ul li #dropUl li a {
  color: #000;
  display: block;
  width: 100%;
}
.footerBox .inputBoxChoose {
  background: none;
  border-radius: 0;
  border: none;
  color: #fff;
  width: 100%;
  display: inline-block;
  text-align: left;
  outline: none;
}
.footerBox ul li .chooseMessage {
  text-align: left;
}
