<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>youTang</title>
    <link rel="shortcut icon" href="./favicon.png.webp" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="stylesheet" href="../../static/css/common.css" type="text/css" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link
      rel="stylesheet"
      href="../../static/js/bootstrap-3.3.7-dist/css/bootstrap.min.css"
    />
    <script src="../../static/js/jquery.min.js"></script>

    <!-- art-template -->
    <script src="../../static/js/template-web.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script
      src="../../static/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"
      type="text/javascript"
    ></script>
    <script src="./option.js"></script>
    <script src="./index.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="topnav">
        <div class="inbox flexbox between">
          <div class="leftnav">
            <img src="../../static//images/logo-zh.svg" alt="" />
          </div>
          <div class="right-nav">
            <ul class="flexbox f-end">
              <li>主页</li>
              <li>模板</li>
              <li>教程</li>
              <li>下载 IOS APP</li>
              <li>博客</li>
              <li>会员福利</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="imgBack">
        <div class="absolute-book flexbox">
          <div class=" flexbox j-center" id="imgBackTitle">
            <h2>全部视频模板</h2>
            <p>- 轻松制作精彩视频 -</p>
          </div>
        </div>
      </div>
      <div class="nav-father">
        <div class="navtap width">
          <ul class="flexbox between" id="screenlist">
            <li>全部</li>
            <li>潮流时尚</li>
            <li>婚礼爱情</li>
            <li>商业宣传</li>
            <li>家庭相册</li>
            <li>生日祝福</li>
            <li>节日问候</li>
            <li>旅行时光</li>
            <li>晚会典礼</li>
            <li>毕业留念</li>
            <li>通用</li>
          </ul>
        </div>
      </div>

      <div class="width choose flexbox between">
        <div class="flexbox j-start leftUlbox">
          <li class="title flexbox j-start" id="select-choose_click">
            <div class="lerftTitle">内容：</div>
            <div class="rightBox">
              <div class="outerAllBox">
                <p data-show="content" id="placeTitle">全部</p>
              </div>
              <ul class="hideMenu content">
                <li><a href="#" data-theme_resource_type="0">全部</a></li>
                <li><a href="#" data-theme_resource_type="1">纯图片</a></li>
                <li><a href="#" data-theme_resource_type="2">纯视频</a></li>
                <li><a href="#" data-theme_resource_type="3">两者皆有</a></li>
              </ul>
            </div>
          </li>
          <li class="title flexbox j-start" id="select-choose_click">
            <div class="lerftTitle">权限：</div>
            <div class="rightBox">
              <div class="outerAllBox">
                <p data-show="power" id="placeTitle">全部</p>
              </div>
              <ul class="hideMenu power">
                <li><a href="#" data-charge_type="0">全部</a></li>
                <li><a href="#" data-charge_type="1">免费</a></li>
                <li><a href="#" data-charge_type="2">会员</a></li>
              </ul>
            </div>
          </li>
          <li class="title flexbox j-start" id="select-choose_click">
            <div class="lerftTitle">类型：</div>
            <div class="rightBox">
              <div class="outerAllBox">
                <p data-show="category" id="placeTitle">全部</p>
              </div>
              <ul class="hideMenu category">
                <li><a href="#" data-composition_type="0">全部</a></li>
                <li><a href="#" data-composition_type="1">自由模板</a></li>
                <li><a href="#" data-composition_type="2">固定模板</a></li>
              </ul>
            </div>
          </li>
          <li class="title flexbox j-start" id="select-choose_click">
            <div class="lerftTitle">比例：</div>
            <div class="rightBox">
              <div class="outerAllBox">
                <p data-show="size" id="placeTitle">全部</p>
              </div>
              <ul class="hideMenu size">
                <li><a href="#" data-theme_resolution="0">全部</a></li>
                <li><a href="#" data-theme_resolution="16×9">16×9</a></li>
                <li><a href="#" data-theme_resolution="9×16">9×16</a></li>
                <li><a href="#" data-theme_resolution="1×1">1×1</a></li>
              </ul>
            </div>
          </li>
        </div>
        <div class="rightUlbox flexbox j-end">
          <li class="title flexbox j-start" id="select-choose_click">
            <div class="lerftTitle">排序：</div>
            <div class="rightBox">
              <div class="outerAllBox">
                <p data-show="sort" id="placeTitle">默认</p>
              </div>
              <ul class="hideMenu sort">
                <li><a href="#" data-order_field="orderby">默认</a></li>
                <li><a href="#" data-order_field="task_num">最热</a></li>
                <li><a href="#" data-order_field="created_at">最新</a></li>
              </ul>
            </div>
          </li>
        </div>
      </div>

      <div class="width content-box">
        <ul class=" flexbox j-start" id="contentBoxList">
          <!-- <script type="text/html" id="list_temp2">
            {{ each list }}
            <li>
              <div class="outer-box">
                <div class="show-box">
                  <div class="img-box">
                    <img src="{{$value.cover_thumb_url}}" alt="" />
                    <video autoplay="autoplay" loop="loop" src="{{$value.low_video_url}}"></video>
                  </div>
                  <div class="title-box">
                    <span>{{$value.title}}</span>
                    <span>自由入模板</span>
                  </div>
                  <div class="title-box flexbox between use">
                    <span>使用</span>
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </script> -->
        </ul>
      </div>

      <div class="footerBox">
        <div class="width">
          <ul class="width flexbox between">
            <li>
              <p>关于我们</p>
              <p>联络我们</p>
            </li>
            <li>
              <p>隐私</p>
              <p>条款</p>
            </li>
            <li class="checkUs">
              <div class="content">
                <p>关注我们</p>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </li>
            <li>
              <p class="chooseMessage">选择语言</p>
              <div class="flexbox between inputBoxClick">
                <input
                  class="inputBoxChoose"
                  type="button"
                  id="dropdownMenu2"
                  value="请选择语言"
                />
                <span class="topIcon"></span>
              </div>
              <div class="dropupBox flexbox between" id="droupTopbox">
                <ul id="dropUl">
                  <p class="closeIcon" id="closeIcon">×</p>
                  <li class="us">
                    <!-- href="https://lightmv.com/" -->
                    <a>English</a>
                  </li>
                  <li class="fr">
                    <!-- href="https://lightmv.com/fr" -->
                    <a>Français</a>
                  </li>
                  <li class="de">
                    <!-- href="https://lightmv.com/de" -->
                    <a>Deutsch</a>
                  </li>
                  <li class="it">
                    <!-- href="https://lightmv.com/it" -->
                    <a>Italiano</a>
                  </li>
                  <li class="se">
                    <!-- href="https://lightmv.com/se" -->
                    <a>Svenska</a>
                  </li>
                  <li class="nl">
                    <!-- href="https://lightmv.com/nl" -->
                    <a>Nederlands</a>
                  </li>
                  <li class="es">
                    <!-- href="https://lightmv.com/es" -->
                    <a>Español</a>
                  </li>
                  <li class="fi">
                    <!-- href="https://lightmv.com/fi" -->
                    <a>Suomi</a>
                  </li>
                  <li class="no">
                    <!-- href="https://lightmv.com/no" -->
                    <a>Norsk</a>
                  </li>
                  <li class="dk">
                    <!-- href="https://lightmv.com/dk" -->
                    <a>Dansk</a>
                  </li>
                  <li class="tr">
                    <!-- href="https://lightmv.com/tr" -->
                    <a>Türkçe</a>
                  </li>
                  <li class="pl">
                    <!-- href="https://lightmv.com/pl" -->
                    <a>Polski</a>
                  </li>
                  <li class="jp">
                    <!-- href="https://lightmv.com/jp" -->
                    <a>日本語</a>
                  </li>
                  <li class="tw">
                    <!-- href="https://lightmv.com/tw" -->
                    <a>繁體中文</a>
                  </li>
                  <li class="cn">
                    <!-- href="https://lightmv.com/zh" -->
                    <a>简体中文</a>
                  </li>
                  <li class="hu">
                    <!-- href="https://lightmv.com/hu" -->
                    <a>Magyar</a>
                  </li>
                  <li class="cz">
                    <!-- href="https://lightmv.com/cz" -->
                    <a>Čeština</a>
                  </li>
                  <li class="pt">
                    <!-- href="https://lightmv.com/pt" -->
                    <a>Português</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="masker">
      <div class="inmasker">
        <p class="title">提示</p>
        <div class="content">
          <p>提示文本</p>
        </div>
        <div class="btnbox">
          <div class="reback">确认</div>
          <div class="cancel">取消</div>
        </div>
      </div>
    </div> -->
  </body>
</html>
